[include]
  path = ~/themes.gitconfig
  path = ~/.gitconfig.personal
[includeIf "gitdir:**/work/**/.git"]
  path = ~/projects/work/.gitconfig
[core]
  excludesfile = /Users/spacemonkey/.gitignore
  editor = nvim
[push]
  default = simple
[pull]
  rebase = true
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[delta]
  features = calochortus-lyallii
[fetch]
	prune = true
[init]
  defaultBranch = main
