.DS_Store

config/.config/tmux/plugins/
config/.config/xmonad/*/
config/.config/xmonad/*.yaml*
config/.config/fish/functions/__*.fish
config/.config/fish/functions/_*.fish
config/.config/fish/functions/fisher.fish
config/.config/fish/functions/sdk.fish
config/.config/fish/fish_plugins
config/.config/fish/fish_variables
config/.config/fish/conf.d/*
!config/.config/fish/conf.d/keychain.fish
config/.config/fish/completions/
config/.config/nvim/plugin/packer_compiled.lua
**/__*cache__/
