unmap b
unmap B
unmap <c-e>
unmap <c-y>
unmap <a-f>
unmap <a-p>
unmap <a-m>
unmap m
unmap `
unmap v
unmap V
unmap gf
unmap gF
umap F
map vv togglePinTab
map vm toggleMuteTab
map F LinkHints.activateModeToOpenInNewForegroundTab



r: https://app.raindrop.io/my/0/%s Raindrop
rt: https://app.raindrop.io/my/25222237/%s/25222237 Raindrop#tools
ra: https://app.raindrop.io/my/25438508/%s/25438508 Raindrop#aws
rw: https://app.raindrop.io/my/25222226/%s/25222226 Raindrop#work

aw: https://wiki.archlinux.org/index.php?search=%s ArchWiki
w: https://www.wikipedia.org/w/index.php?title=Special:Search&search=%s Wikipedia
g: https://www.google.com/search?q=%s Google
y: https://www.youtube.com/results?search_query=%s Youtube
gm: https://www.google.com/maps?q=%s Google maps
dd: https://duckduckgo.com/?q=%s DuckDuckGo
az: https://www.amazon.com/s/?field-keywords=%s Amazon
qw: https://www.qwant.com/?q=%s Qwant
st: https://www.startpage.com/sp/search?query=%s Startpage.com
