[[Snippets]]
  Description = "Extract certificate private key from PFX file"
  Output = ""
  Tag = []
  command = "openssl pkcs12 -in <pfx-file> -nocerts -out <privatekey=privatekey.pem> -nodes"

[[Snippets]]
  Description = "Extract PEM certificate file from PFX file."
  Output = ""
  Tag = []
  command = "openssl pkcs12 -in <pfx-file> -clcerts -nokeys -out <certificate-file=certificate.pem>"

[[Snippets]]
  Description = "Extract CA certificates from PFX file."
  Output = ""
  Tag = []
  command = "openssl pkcs12 -in <pfx-file> -cacerts -nokeys -out ca-certs.pem"

[[Snippets]]
  Description = "Search among installed fonts"
  Output = ""
  Tag = []
  command = "fc-list | grep -i \"<font-name>\""

[[Snippets]]
  Description = "Git - delete remote branch"
  Output = ""
  Tag = []
  command = "git push origin -d <branch>"

[[Snippets]]
  Description = "TF - unlock terraform project state lock"
  Output = ""
  Tag = ["terraform"]
  command = "tg run force-unlock <lock-id>"

[[Snippets]]
  Description = "Fish - exec <cmd> for $line in <file>"
  Output = ""
  Tag = []
  command = "while read -la line; <command>; end < <file>"

[[Snippets]]
  Description = "Fish - exec <cmd> for $line[0] in <file>"
  Output = ""
  Tag = []
  command = "while read -la line; <command> (string split -m1 ' ' $line)[1]; end < <file>"

[[Snippets]]
  Description = "aws - export credentials in a ENV format"
  Output = ""
  Tag = []
  command = "aws configure export-credentials --format env"
